.centerHome {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50% );
    width: 100%;
}

#linkHome {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#buttonHome {
    background-color: #FFAD00;
    color: white;
    border: 0px solid;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    transition: 0.5s;
}

#textHomeResponsive {
    transition: 0.5s;
}

#imgHomeResponsive {
    transition: 0.5s;
}

#GridProjects {
    margin-top: 20px;
}

#titleServicos {
    margin-top: 10px;
    text-decoration: underline #FFAD00;
}

#services {
    padding: 70px;
}

#projects {
    padding: 70px;
}

.centralizar {
    text-align: center;
}

.shadowImgLeft {
    box-shadow: -1px 2px 3px 0px black;
}

.shadowImgRight {
    box-shadow: 1px 2px 3px 0px black;
}

.imgRadius{
    border-radius: 5px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    #services {
        padding: 0px;
    }

    #projects {
        padding: 0px;
    }

    #imgHomeResponsive {
    display: none;
}

#textHomeResponsive {
    position: relative;
    top: 0%;
    left: 50%;
    border-left: 5px solid #FFAD00;
    transition: 0.5s;
}

#buttonHome {
    position: relative;
    top: 0%;
    left: 50%;
}

.centerImg {
    text-align: center;
    margin-bottom: 10px;
}

body {
    border-left: 5px solid #FFAD00;
}

#responsiveImgServices {
    box-shadow: 0px 0px 0px;
}

#responsiveImgProjects {
    box-shadow: 0px 0px 0px ;
}
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    /*nhe*/
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    #imgHomeResponsive {
        width: 450px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #imgHomeResponsive {
        width: 480px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
#imgHomeResponsive {
    width: 550px;
}
 }