body {
    background-image: none;
}

.centerHome {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50% );
    width: 100%;
}

#linkHome {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#buttonHome {
    background-color: #FFAD00;
    color: white;
    border: 0px solid;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

.test {
    border: 1px solid red;
    display: flex;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
#imgHomeResponsive {
    display: none;
}

#textHomeResponsive {
    position: relative;
    top: 0%;
    left: 50%;
}

#buttonHome {
    position: relative;
    top: 0%;
    left: 50%;
}

body {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
#imgHomeResponsive {
    display: none;
}
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    #imgHomeResponsive {
        width: 450px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #imgHomeResponsive {
        width: 480px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
#imgHomeResponsive {
    width: 550px;
}
 }